/* app/theme.css */
:root {
  --bg: #FBFDF9;
  /* Lotion */
  --text: #1E1E1E;
  /* Eerie Black */
  --ruby-red: #9B1C22;
  /* Ruby Red Accent */
  --accent: #9B1C22;

  --muted: #EAEAEA;
  --muted-fg: #666666;
}

.dark {
  --bg: #1E1E1E;
  /* Eerie Black */
  --text: #FFFFFF;
  /* White */
  --ruby-red: #9B1C22;
  /* Ruby Red Accent */
  --accent: #9B1C22;

  --muted: #333333;
  --muted-fg: #A3A3A3;
}